<html ng-app="app">
<title></title>
<link rel="stylesheet" type="text/css" href="/static/home/css/index.css"><!--风格-->
<link rel="stylesheet" type="text/css" href="/static/home/css/media.css"><!--自适应-->
<body ng-controller="mainCtrl">
<div class="mainbox bgindex clearfix"><!-- 轮播广告 BOF-->
    <div class="bbox">
        <section ui-view></section>
    </div>
</div>

</body>
<script src="//cdn.bootcss.com/angular.js/1.6.1/angular.min.js"></script>
<!--<script src="//cdn.bootcss.com/angular.js/1.6.1/angular-route.min.js"></script>-->
<script src="//cdn.bootcss.com/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
<script src="/static/home/js/main.js"></script>

<script type="text/ng-template" id="home.html">
    home page
</script>

</html>